[Desktop Entry]
Type=Application
Version=1.0
Name=Steam ARM64
GenericName=Game Client
Comment=Native ARM64 Steam with Turnip acceleration
Exec=/data/data/com.termux/files/home/bin/steam-arm
Icon=/data/data/com.termux/files/home/steam-arm64/client/clientui/vr/icon_steam_vr.png
Terminal=false
Categories=Game;Network;
Keywords=steam;games;gaming;
StartupNotify=true
StartupWMClass=Steam
